.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  & > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div, & > label {
      margin-bottom: 15px;
    }

    & ul {
      margin-top: 0;
      list-style: square;
    }

    & > div:last-of-type {
      align-self: flex-end;
      margin-bottom: 0;
    }
  }
}